<h1>Listing journal_entries</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Post</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<!--<% @journal_entries.each do |journal_entry| %>
  <tr>
    <td><%= journal_entry.title %></td>
    <td><%= journal_entry.post %></td>
    <td><%= link_to 'Show', journal_entry %></td>
    <td><%= link_to 'Edit', edit_journal_entry_path(journal_entry) %></td>
    <td><%= link_to 'Destroy', journal_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Journal entry', new_trip_place_journal_entry_path %> -->