  <article class="base-modal trip-modal">
    <section class="clear-fix trip-bar">
      <header>
        <h2>Create a Trip</h2>
      </header>
        <%= form_for @trip do |form| %>
        <%= form.text_field :name, :placeholder => '...create a trip' %>
				<%= form.date_select :start_date %>
				<%= form.date_select :end_date %>
        <%= form.submit "create", :class => 'btn btn-block btn-info' %>
      <% end %>
    </section>
  </article>