
  <article class="new-trip-modal">
    <header>
      <h1>create your trip</h1>
    </header>
    <section class="clear-fix">
      <%= form_for @trip do |form| %>
        <div class="control-group success">
          <%= form.text_field :name, :placeholder => 'Firstly, choose a name for your trip', :class => 'entry-box span3' %>
        </div>
        <section class="calendar ">
          <h2>now choose a start date</h2>
          <%= form.date_select :start_date %>
        </section>
        <section class="calendar">
          <h2>and choose an end date</h2>
          <%= form.date_select :end_date %>
        </section>
        </section>
        <%= form.submit "Create trip", :class => 'btn btn-large btn-block btn-primary' %>
      <% end %>
    </section>
  </article>
