
  <article class="new-trip-modal">
    <header>
      <h1>Create My Trip</h1>
    </header>
    <section class="clear-fix">
      <%= form_for @trip do |form| %>
        <%= form.text_field :name, :placeholder => 'choose a name for your trip', :class => 'entry_box' %>
        <section class="calendar">
          <h2>Start date</h2>
          <%= form.date_select :start_date %>
          <h2>End date</h2>
          <%= form.date_select :end_date %>
        </section>
        <%= form.submit "Create Trip", :class => 'btn' %>
      <% end %>
    </section>
  </article>
