<img src="<%= @url %>"/>
<h2>latitude: <%= @geolat %></h2>
<h2>longitude: <%= @geolng %></h2>
<h1><%= @comment %></h1>
<img src="<%= @url1 %>"/>
<img src="<%= @url2 %>"/>
<img src="<%= @url3 %>"/>
<img src="<%= @url4 %>"/>

<p><%= @response %></p>

