  <span style="display: none;" id='markerData'> <%= @markerData %></span>

<section class="trip-title">
  <header>
    <h1><%= @trip.name %></h1>
    <%= link_to "+trip", new_trip_path(@trip), :class => "btn btn-info btn-map" %>
    <a class = "btn btn-primary btn-map show_hide_place"> +place</a>
    <a class = "btn btn-tertiary btn-map lines" id="add-lines">add lines</a>
    <a class = "btn btn-alert btn-map" id="remove-lines">remove lines</a>
  </header>
    
</section>


<%= render :template => "trips/new" %>
<%= render :template => "places/new" %>

<script type="text/javascript">

$(document).ready(function(){
    $(".place-bar").hide();
    $(".trip-bar").hide();
    $("#remove-lines").hide();
    $("#add-lines").show();
    $(".show_hide_trip").show();
    $(".show_hide_place").show();
    $('.show_hide_place').click(function(){
      $(".place-bar").slideToggle();
      });
    $('.show_hide_trip').click(function(){
      $(".trip-bar").slideToggle();
      });
    $('#add-lines').click(function(){
      $("#add-lines").toggle();
      $("#remove-lines").toggle();
      })
    $('#remove-lines').click(function(){
      $("#add-lines").toggle();
      $("#remove-lines").toggle();
      });;
  });
</script>


<script type='text/javascript'>
$(document).ready(function() {
  startUp();
});

window.markerData = <%=raw @markerData %>;
window.polyLines = [];

 $('#remove-lines').click(function(){
    for (var i = polyLines.length - 1; i >= 0; i--) {
      polyLines[i].setMap(null);
        };
  });

 $('#add-lines').click(function(){
  var grouping = grouped(markerData);
  addLinesToMap(window.map,grouping.start, grouping.connected);
  });

  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div id="map-canvas" style="width: 100%; height: 100%">
</div>
