  <!--article class="base-modal place-modal">
    <header>
      <h1>create a new place</h1>
    </header>
    <section class="clear-fix">
      <%= form_for([@trip, @trip.places.build]) do |form| %>
        <p><%= form.text_field :place, :placeholder => 'name your place', :id => id='searchTextField' %></p>
        <section class="calendar ">
          <h2>when did you arrive?</h2>
          <%= form.date_select :start_date %>
        </section>
        <section class="calendar">
          <h2>when did you leave?</h2>
          <%= form.date_select :end_date %>
        </section>
        <p><%= form.hidden_field :latitude, :placeholder => 'enter the latitude' %></p>
        <p><%= form.hidden_field :longitude, :placeholder => 'we need the longitude too' %></p>
        <p><%= form.submit "Add a Place", :class => 'btn btn-large btn-block btn-primary' %></p>
      <% end %>
    </section>
  </article-->

  <article class="test-modal">
    <section class="clear-fix place-bar">
        <%= form_for([@trip, @trip.places.build]) do |form| %>
        <p><%= form.text_field :place, :placeholder => 'Add another place', :id => id='searchTextField' %></p>
        <p><%= form.hidden_field :latitude, :placeholder => 'enter the latitude' %></p>
        <p><%= form.hidden_field :longitude, :placeholder => 'we need the longitude too' %></p>
        <p><%= form.submit "Add", :class => 'btn btn-block btn-primary' %></p>
      <% end %>
        <section class="clear-fix ">
          <label for="from">From this date:</label>
          <input type="text" id="from" name="from" placeholder="from date"/>
          <label for="to">To this date:</label>
          <input type="text" id="to" name="to" placeholder="to date"/>
          <div id="datepicker"></div>
        </section>
    </section>
  </article>

    <script>
      $(function() {
        $( "#from" ).datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 1,
          minDate:
          onClose: function( selectedDate ) {
            $( "#to" ).datepicker( "option", "minDate", selectedDate );
          }
        });
        $( "#to" ).datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 1,
          onClose: function( selectedDate ) {
            $( "#from" ).datepicker( "option", "maxDate", selectedDate );
          }
        });
      });
      </script>

  <script type="text/javascript">
  function initialize() {
    var input = document.getElementById('searchTextField');
    var autocomplete = new google.maps.places.Autocomplete(input);

    google.maps.event.addListener(autocomplete, 'place_changed', function() {
      var place = autocomplete.getPlace();
      var longitude = place.geometry.location.kb;
      var latitude = place.geometry.location.jb;
      $('#place_latitude').val(latitude);
      $('#place_longitude').val(longitude);
    });
  };
  google.maps.event.addDomListener(window, 'load', initialize);
  </script>


