
  <article class="base-modal place-modal">

    <section class="clear-fix place-bar">
        <%= form_for([@trip, @trip.places.build]) do |form| %>
        <%- if @trip.places.length > 1 %> 
          <%= form.label :previous_place_id, 'Travelling from' %>
          <select name='place[previous_place_id]'>
            <% @trip.places.each do |place| %>
            
              <%- if @trip.places[-2].place == place.place %>
                <option selected = "selected" value="<%=place.id %>"><%= place.place %></option>
                <% else %>
                <option value="<%=place.id %>"><%= place.place %></option>
              <%end%>
            <%end%>
          </select>
        <% end %>
        
        <%= form.label :place, 'Travelling to' %>
        <%= form.text_field :place, :placeholder => 'Travelling to', :id => id='searchTextField' %>
        <%= form.hidden_field :latitude, :placeholder => 'enter the latitude' %>
        <%= form.hidden_field :longitude, :placeholder => 'we need the longitude too' %>
        <%= form.hidden_field :start_date %>
        <%= form.hidden_field :end_date %>
        <%= form.submit "add", :class => 'btn btn-block btn-primary' %>
      <% end %>
        <section class="clear-fix ">
          <label for="from">Arrival date:</label>
          <input type="text" id="from" name="from" placeholder="Arrival date"/>
          <label for="to">Departure date:</label>
          <input type="text" id="to" name="to" placeholder="Departure date"/>
          <div id="datepicker"></div>
        </section>
    </section>
  </article>


<script>
var start_date= "<%=raw @trip.start_date  %>";
var start_year=start_date.slice(0,4);
var start_month=start_date.slice(5,7);
var start_day=start_date.slice(8,10);

var end_date= "<%=raw @trip.end_date  %>";
var end_year=end_date.slice(0,4);
var end_month=end_date.slice(5,7);
var end_day=end_date.slice(8,10);
</script>


<!-- These need to be moved out of the view into vendor folders or at the very least the head of the document -->

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
      $(function() {
        $( "#from" ).datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 1,
          minDate: new Date(start_year, start_month, start_day),
          maxDate: new Date(end_year, end_month, end_day),
          onClose: function( selectedDate ) {
            $( "#to" ).datepicker( "option", "minDate", selectedDate );
          $('#place_start_date').val(selectedDate);
          }

        });
        $( "#to" ).datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 1,
          minDate: new Date(start_year, start_month, start_day),
          maxDate: new Date(end_year, end_month, end_day),
          onClose: function( selectedDate ) {
            $( "#from" ).datepicker( "option", "maxDate", selectedDate );
          $('#place_end_date').val(selectedDate);
          }

        });
      });
  </script>

<!-- Google API Script -->
  <script type="text/javascript">
  function initialize() {
    var input = document.getElementById('searchTextField');
    var autocomplete = new google.maps.places.Autocomplete(input);

    google.maps.event.addListener(autocomplete, 'place_changed', function() {
      var place = autocomplete.getPlace();
      var longitude = place.geometry.location.kb;
      var latitude = place.geometry.location.jb;
      $('#place_latitude').val(latitude);
      $('#place_longitude').val(longitude);
    });
  };
  google.maps.event.addDomListener(window, 'load', initialize);
  </script>
