  <article class="new-trip-modal">
    <header>
      <h1>create a new place</h1>
    </header>
    <section class="clear-fix">
      <%= form_for([@trip, @trip.places.build]) do |form| %>
        <p><%= form.text_field :place, :placeholder => 'name your place', :id => id='searchTextField' %></p>
        <p><%= form.text_field :start_date, :placeholder => 'when did you arrive here?' %></p>
        <p><%= form.text_field :end_date, :placeholder => 'when did you leave?' %></p>
        <p><%= form.text_field :latitude, :placeholder => 'enter the latitude' %></p>
        <p><%= form.text_field :longitude, :placeholder => 'we need the longitude too' %></p>
        <p><%= form.submit "Add a Place", :class => 'btn btn-large btn-block btn-primary' %></p>
      <% end %>
    </section>
  </article>

  <script type="text/javascript">
  function initialize() {
    var input = document.getElementById('searchTextField');
    var autocomplete = new google.maps.places.Autocomplete(input);

    google.maps.event.addListener(autocomplete, 'place_changed', function() {
      var place = autocomplete.getPlace();
      var longitude = place.geometry.location.kb;
      var latitude = place.geometry.location.jb;
      $('#place_latitude').val(latitude);
      $('#place_longitude').val(longitude);
    });
  };
  google.maps.event.addDomListener(window, 'load', initialize);
  </script>