
  <article class="base-modal place-modal">

    <section class="clear-fix place-bar">
        <%= form_for([@trip, @trip.places.build]) do |form| %>
        <%- if @trip.places.length > 1 %> 

          <%= form.label :previous_place_id, 'Travelling from' %>
            <select id="prev_place" name='place[previous_place_id]'>
              
              <% @trip.places.each do |place| %>
                <%- if place.next_place_id == nil %>
                  <%- if @trip.places[-2].place == place.place %>
                    <option selected = "selected" value="<%=place.id %>"><%= place.place %></option>
                    <% else %>
                    <option value="<%= place.id %>"><%= place.place %></option>
                  <%end%>
                <%end%>
              <%end%>
            </select>

        <% end %>
        <script type="text/javascript">
            $('#prev_place').change(function() {
              $('#place_previous_place_id').val($('#prev_place').val());
            });
        </script>
        <script type="text/javascript">
          $('html').bind('keypress', function(e)
              {
               if(e.keyCode == 13)
               {
                  return false;
               }
            });
        </script>
        <%= form.label :place, 'Travelling to' %>
        <%= form.text_field :place, :placeholder => 'Travelling to', :id => id='searchTextField' %>
        <%= form.submit "add", :class => 'btn btn-block btn-primary', :id => 'add' %>
        <p class="notice"><%= flash[:error] %></p>
        <%= form.hidden_field :latitude, :placeholder => 'enter the latitude' %>
        <%= form.hidden_field :longitude, :placeholder => 'we need the longitude too' %>
        <%= form.hidden_field :start_date %>
        <%= form.hidden_field :end_date %>
        <%= form.hidden_field :previous_place_id %>
      <% end %>
        <section class="clear-fix ">
          <label for="from">Arrival date:</label>
          <input type="text" id="from" name="from" placeholder="Arrival date"/>
          <label for="to">Departure date:</label>
          <input type="text" id="to" name="to" placeholder="Departure date"/>
          <div id="datepicker"></div>
        </section>
    </section>
  </article>


<script>
var start_date= "<%=raw @trip.start_date  %>";
var start_year=start_date.slice(0,4);
var start_month=start_date.slice(5,7)-1;
var start_day=start_date.slice(8,10);

var end_date= "<%=raw @trip.end_date  %>";
var end_year=end_date.slice(0,4);
var end_month=end_date.slice(5,7)-1;
var end_day=end_date.slice(8,10);

var disabledDays = <%=raw @taken_dates %>;

function noTakenDays(date) {
  var m = date.getMonth(), d = date.getDate(), y = date.getFullYear();
  //console.log('Checking (raw): ' + m + '-' + d + '-' + y);
  for (i = 0; i < disabledDays.length; i++) {
    if($.inArray((m+1) + '-' + d + '-' + y,disabledDays)  != -1 || new Date() > date) {
      return [false];
    }
  }
  return[true];
}; 

function unavailableDates(date) {
  return noTakenDays(date)
}
$(function() {
        $( "#from" ).datepicker({
          minDate: new Date(start_year, start_month, start_day),
          maxDate: new Date(end_year, end_month, end_day),
          dateFormat: 'DD, MM, d, yy',
          constrainInput: true,
          beforeShowDay: unavailableDates,

          onClose: function( selectedDate ) {
            $( "#to" ).datepicker( "option", "minDate", selectedDate );
            var sdate = $("#from" ).datepicker("getDate");
            $('#place_start_date').val(sdate);
            
          }

        });
        $( "#to" ).datepicker({
          minDate: new Date(start_year, start_month, start_day),
          maxDate: new Date(end_year, end_month, end_day),
          dateFormat: 'DD, MM, d, yy',
          constrainInput: true,
          beforeShowDay: unavailableDates,

          onClose: function( selectedDate ) {
            $( "#from" ).datepicker( "option", "maxDate", selectedDate );
            var edate = $("#to" ).datepicker("getDate");
            $('#place_end_date').val(edate);
          }
        });
      });
  </script>

<!-- Google API Script -->
  <script type="text/javascript">
  function initialize() {
    var input = document.getElementById('searchTextField');
    var autocomplete = new google.maps.places.Autocomplete(input);

    google.maps.event.addListener(autocomplete, 'place_changed', function() {
      var place = autocomplete.getPlace();
      var longitude = place.geometry.location.kb;
      var latitude = place.geometry.location.jb;
      $('#place_latitude').val(latitude);
      $('#place_longitude').val(longitude);
      $('#place_previous_place_id').val($('#prev_place').val());
    });
    
  };
  google.maps.event.addDomListener(window, 'load', initialize);
  </script>
