  <section class="clear-fix place-box">
    <%= form_for([@trip, @trip.places.build]) do |form| %>
      <%= form.text_field :place, :placeholder => 'add another place', :id => id='searchTextField' %>
      <%= form.hidden_field :latitude, :placeholder => 'enter the latitude' %>
      <%= form.hidden_field :longitude, :placeholder => 'we need the longitude too' %>
      <%= form.submit "+ add ", :class => 'btn btn-large btn-primary' %>
    <% end %>
  </section>

  <!-- Remember this needs google_autocomplete.js to work -->