  <article class="new-trip-modal">
    <header>
      <h1>create a new place</h1>
    </header>
    <section class="clear-fix">
      <%= form_for([@trip, @trip.places.build]) do |form| %>
        <p>
        <%= form.text_field :place, :placeholder => 'name your place' %>
        </p>

        <p>
        <%= form.text_field :start_date, :placeholder => 'when did you arrive here?' %>
        </p>

        <p>
        <%= form.text_field :end_date, :placeholder => 'when did you leave?' %>
        </p>

        <p>
        <%= form.text_field :latitude, :placeholder => 'enter the latitude' %>
        </p>

        <p>

        <%= form.text_field :longitude, :placeholder => 'we need the longitude too' %>
        </p>

        <p>
        <%= form.submit "Add a Place", :class => 'btn btn-large btn-block btn-primary' %>
        </p>
      <% end %>
    </section>
  </article>